* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}
h1 {
  justify-content: center;
  color: white;
  display: flex;
  padding-top: 20px;
}
.container {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding-top: 30px;
  height: 50px;
  margin-left: 220px;
  font-size: 2rem;
  list-style: none;
}
#changeSpace {
  display: flex;
  flex-direction: column;
  background-color: darkgoldenrod;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 40%;
  height: 70vh;
  margin-left: 450px;
}
.img {
  width: 100%;
  height: 100%;
  filter: none;
}
